{% extends "base.html" %}


{% block title %}Home{% endblock title %}

{% block content %}
    <div class="home-intro">
        <p>Front-end web developer, currently working for digital healthcare agency <a href="http://incuna.com/" target="_blank">Incuna</a>, in Oxford, England.</p>
        <p>Founder of <a href="http://oxbikebox.com" target="_blank">OxBikeBox</a> [...]</p>
        <p>Rides a bike, occassionally <a href="http://incunahauteroute.tumblr.com/post/59311899913/haute-route-on-strava" target="_blank">up mountains</a>, and posts to <a href="http://www.strava.com/athletes/perryroper" target="_blank">Strava</a>.</p>
        <!--p>Plans to <a href="">travel</a> the world whilst doing all of the above.</p-->
    </div>
{% endblock content %}
