/* line 5, ../../sass/globals/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../../sass/globals/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../sass/globals/_reset.sass */
body {
  line-height: 1;
}

/* line 33, ../../sass/globals/_reset.sass */
ol,
ul {
  list-style: none;
}

/* line 37, ../../sass/globals/_reset.sass */
q,
blockquote {
  quotes: none;
}
/* line 40, ../../sass/globals/_reset.sass */
q:before, q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 45, ../../sass/globals/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../sass/globals/_structure.sass */
.structure {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: "notoserif";
  src: url("../fonts/notoserif/notoserif.eot");
  src: url("../fonts/notoserif/notoserif.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif/notoserif.woff") format("woff"), url("../fonts/notoserif/notoserif.ttf") format("truetype"), url("../fonts/notoserif/notoserif.svg#notoserif") format("svg");
}

/* line 8, ../../sass/mixins/_font_face.sass */
body {
  font-family: "notoserif", serif;
  font-weight: normal;
}

@font-face {
  font-family: "oxygen";
  src: url("../fonts/oxygen/oxygen.eot");
  src: url("../fonts/oxygen/oxygen.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygen.woff") format("woff"), url("../fonts/oxygen/oxygen.ttf") format("truetype"), url("../fonts/oxygen/oxygen.svg#oxygen") format("svg");
}

/* line 8, ../../sass/mixins/_font_face.sass */
.branding {
  font-family: "oxygen", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: "oxygen-light";
  src: url("../fonts/oxygen/oxygen-light.eot");
  src: url("../fonts/oxygen/oxygen-light.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygen-light.woff") format("woff"), url("../fonts/oxygen/oxygen-light.ttf") format("truetype"), url("../fonts/oxygen/oxygen-light.svg#oxygen-light") format("svg");
}

/* line 8, ../../sass/mixins/_font_face.sass */
.branding span {
  font-family: "oxygen-light", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: "oxygen-bold";
  src: url("../fonts/oxygen/oxygen-bold.eot");
  src: url("../fonts/oxygen/oxygen-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygen-bold.woff") format("woff"), url("../fonts/oxygen/oxygen-bold.ttf") format("truetype"), url("../fonts/oxygen/oxygen-bold.svg#oxygen-bold") format("svg");
}

/* line 7, ../../sass/globals/_typography.sass */
body {
  font-size: 16px;
  line-height: 1.4;
  color: #252525;
}

/* line 16, ../../sass/globals/_typography.sass */
.header .structure {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* line 21, ../../sass/globals/_typography.sass */
.header-image {
  font-size: 0;
}

/* line 25, ../../sass/globals/_typography.sass */
img {
  max-width: 100%;
}

/* line 28, ../../sass/globals/_typography.sass */
.branding {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}
/* line 37, ../../sass/globals/_typography.sass */
.branding a {
  color: #252525;
}
/* line 39, ../../sass/globals/_typography.sass */
.branding a:hover {
  border: 0;
}

/* line 42, ../../sass/globals/_typography.sass */
a {
  color: #2f90c4;
  text-decoration: none;
}
/* line 46, ../../sass/globals/_typography.sass */
a:hover {
  color: #25729b;
  border-bottom: 1px solid;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

/* line 52, ../../sass/globals/_typography.sass */
p {
  margin-bottom: 0.5em;
}

/* line 2, ../../sass/components/_home.sass */
.home-intro p {
  font-size: 24px;
}
